
<% # Featured Neuroscience items %>
<% featured_neuro=publications.find_all{|item| item[:tags].count{|tag| tag =~ /neuroscience/} >0 && item[:tags].count{|tag| tag =~ /featured/} > 0}%>

<% # Featured CS items %>
<% featured_comp=publications.find_all{|item| item[:tags].count{|tag| tag =~ /computer/} >0 && item[:tags].count{|tag| tag =~ /featured/} > 0}%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= render 'html_head' %>
</head>
<body>
<div id="wrapper">
	
	<%= render 'header' %>
	
	<div id="container">
		<%= render 'page_title' %>
		
		<div class="inner_page_container">
		
    		<div class="publications_content">
			
                <h2>Select Publications</h2>
            
                <h3>Neuroscience</h3>
                <% for item in featured_with_tag('neuroscience') %>
                    <%= render 'publication_item', :pub_item => item %>
                <% end %>

                <h3>Computer Science</h3>
                <% for item in featured_with_tag('computer') %>
                    <%= render 'publication_item', :pub_item => item %>
                <% end %>

                <h2>All Publications by date</h2>
                <% for year in publication_years %>
                    <h4><%= year %></h4>
                    <% for p in publications_for_year(year)%>
                        <%= render 'publication_item', :pub_item => p %>
                    <%end%>
                <%end%>
	
    		</div><!--/publications_content-->
	
    	    <div class="sidebar">
    			<!--<div class="topsearch"><input name="" type="text" value="to search type and hit enter" onfocus="if(this.value == 'to search type and hit enter'){this.value = '';}" onblur="if(this.value == ''){this.value='to search type and hit enter';}" /></div>--><!--/topsearch-->
			
    			<div class="copyright_notice">
    				<%= yield %>
    			</div>
			
    			<div class="sidebar_list">
    				<h4>Categories</h4>
    				<ul>
    				    <% for t in site_tags.keys %>
                            <li><a href="/tags/<%= t%>"><%= t %>
                                </a></li>
                        <% end %>
    				</ul>
    			</div>
				
    		</div><!--/sidebar-->
	    </div>
	</div><!--/container-->
	
    <%= render 'footer' %>

</div><!--/wrapper-->
</body>
</html>