<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= render 'html_head'%>
</head>

<body>
<div id="wrapper">

	<%= render 'header' %>

	<div id="container">

		<%= render 'page_title', :return_url => "/resources",
		                         :return_name => "Resources"%>

		<div class="inner_page_container">
			<div class="project_content">

				<% if @item[:type] %>
					<b>type:</b> <%= @item[:type] %><br/>
				<% end %>

				<% if @item[:license] %>
					<b>license:</b> <%= @item[:license] %><br/>
				<% end %>

				<br/>

				<div class="project_description">
    				<%= yield %>
				</div>

				<% if @item[:primary_link] %>
					<b>Link to resource:<br/>
					<a href="<%= @item[:primary_link] %>">
						<%= @item[:primary_link] %></a></b>
				<% end %>


				<% if content_for(@item, :please_cite) != nil %>
					<div class="please_cite_box">
						<i>If you use this resource, we ask that you please cite: </i><br/><br/>
						<b><%= content_for(@item, :please_cite) %></b>
					</div>
				<% end %>

			</div><!--/project_content-->

			<!-- SIDEBAR -->

			<div class="portfolio_sidebar">
				<div class="latest_project">
					<h4>Related Publications</h4>

					<ul class="sidebar_publications_list">
					    <% for p in @item[:related_publications]%>
    					    <% pub = publication_for_id(p) %>
    					    <% if pub %>
    					        <li>
    					        <%= render 'publication_item_short',
    					                    :pub_item => pub %>
    					        </li>
    					    <% end %>
    					<% end %>
					</ul>
				</div><!--/latest_project-->

			</div><!--/portfolio_sidebar-->
		</div><!--/inner_page_container-->
	</div><!--/container-->


	<%= render 'footer' %>

</div><!--/wrapper-->
</body>
</html>