<div id="header">
	<div id="logo"><a href="/"><img src="/cox/images/logo.png" alt="" /></a></div>
		<div id="navigation" >
			<div class="menu-main-menu-container">
				<ul id="dropmenu" class="menu">

					<!-- Home -->
					<li <% if @item.identifier == '/' %>
					        class="current_page_item"
					    <% end %> >
					    <a href="/index.html">Home</a>
					</li>

					<!-- About -->
					<!-- <li <% if @item.identifier == '/about/' %>
					                           class="current_page_item"
					                       <% end %> >
					                       <a href="/about">About</a>
					                   </li>  -->

					<!-- News -->
					<li <% if @item.identifier == '/news/' %>
					        class="current_page_item"
					    <% end %> >
					    <a href="/news">News</a>
					</li>

					<!-- Personnel -->
					<li <% if @item.identifier == '/personnel/' %>
					        class="current_page_item"
					    <% end %> >
					    <a href="/personnel">Personnel</a>
					</li>

                    <!-- Projects -->
					<li <% if @item.identifier == '/projects/' %>
					        class="current_page_item"
					    <% end %> >
					    <a href="/projects">Projects</a>
					</li>

					<!-- Publications -->
					<li <% if @item.identifier == '/publications/' %>
					        class="current_page_item"
					    <% end %> >
					    <a href="/publications">Publications</a>
					</li>

					<!-- Contact Us -->
					<li <% if @item.identifier == '/contact/' %>
					        class="current_page_item"
					    <% end %> >
					    <a href="/contact">Contact Us</a>
					</li>

					<!--<li><a href="#">Skins</a>
						<ul class="sub-menu">
							<li><a href="../light-html-template/index.html">Light</a></li>
							<li><a href="../dark-html-template/index.html">Dark</a></li>
						</ul>
					</li>
					<li><a href="#">Features</a>
						<ul class="sub-menu">
							<li><a href="typography.html">Typography</a></li>
							<li><a href="sidebar-right.html">Sidebar Right</a></li>
							<li><a href="fullwidth.html">Full Width Page</a></li>
						</ul>
					</li>
					<li><a href="#">Portfolio</a>
						<ul class="sub-menu">
							<li><a href="portfolio-thumbnails-view.html">Thumbnails View</a></li>
							<li><a href="portfolio-list-view.html">List View</a>
								<ul class="sub-menu">
									<li><a href="#">Sub-page 1</a></li>
									<li><a href="#">Sub-page 2</a></li>
								</ul>
							</li>
							<li><a href="#">Another Page</a></li>
						</ul>
					</li>
					<li><a href="#">Blog</a>
						<ul class="sub-menu">
							<li><a href="blog-page.html">Blog Page</a></li>
							<li><a href="blog-single-page.html">Blog Single Page</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li> -->
				</ul>
			</div><!-- /dropmenu -->
		</div><!-- /navigation -->
</div><!--/header-->