
<div
    <%if @double_wide != nil %>
        class="personnel_grid_item_double"
    <%else%>
        class="personnel_grid_item"
    <%end%> >
	<% if person_item[:picture] != nil%>
	    <img src="/images/<%= @person_item[:picture]%>" class="left_pic" alt=""/>
	<% end %>
	<br/>
	<h5><b><%= @person_item[:name] %></b></h5>
	<%= @person_item[:position] %><br/>
	<%= @person_item[:email] %><br/>

	<% if @person_item[:linkedin_link] %>
	    <a href="<%= @person_item[:linkedin_link]%>"><img src="/images/linkedin.png" style="vertical-align:middle" alt=""/></a>
	<% end %>
	
	<% if @person_item[:twitter_username] %>
	    <a href="http://www.twitter.com/<%= @person_item[:twitter_username]%>"><img src="/images/twitter.png" style="vertical-align:middle" alt=""/></a>
	<% end %>

    <% if @person_item[:posterous_link] %>
	    <a href="<%= @person_item[:posterous_link]%>"><img src="/images/posterous.png" style="vertical-align:middle" alt=""/></a>
	<% end %>

    <% if @person_item[:github_username] %>
	    <a href="http://github.com/<%= @person_item[:github_username]%>"><img src="/images/github.png" style="vertical-align:middle" alt=""/></a>
	<% end %>

	
	<% if @person_item[:cv_link] %>
	    <b>[<a href="<%= @person_item[:cv_link]%>">cv</a>]</b>
	<% end %>
	
	<% if @person_item[:bio_link] %>
	    <b>[<a href="<%= @person_item[:bio_link]%>">bio</a>]</b>
	<% end %>
    
    <% if @person_item[:web_link] %>
	    <b>[<a href="<%= @person_item[:web_link]%>">web site</a>]</b>
	<% end %>
	

	<% if @person_item.compiled_content %>
	    <br/><br/>
	    <p><%= @person_item.compiled_content %></p>
	<% end %>
	<!--<ul>
		<li><a href="#">webdesign</a>,</li>
		<li><a href="#">development</a>,</li>
		<li><a href="#">identity</a></li>
	</ul>-->
</div><!--/portfolio_grid_item-->

