<div id="footer">
	<div class="footer_content">
		
	<div class="footer_bottom">
		<div class="copyright">
			@ Copyright 2011. <a href="#">President and Fellows of Harvard College</a>.
		</div><!--/copyright-->
		<div class="f_nav">
			<ul>
				<!-- <li><a href="#"><img src="/images/twitter.png" alt=""/></a></li> -->					
				<li><a href="http://www.linkedin.com/in/daviddanielcox"><img src="/images/linkedin.png" alt=""/></a></li>
				<li><a href="http://vimeo.com/user2731220"><img src="/images/vimeo.png" alt=""/></a></li>
			</ul>
		</div><!--/f_nav-->
	</div><!--/footer_bottom-->
</div><!--/footer-->

<%= render 'google_analytics' %>